body{
    background-color: rgb(243, 236, 224);
}
.poki-gallary{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}
.loading-div{
    width: 100%;
    display: flex;
    justify-content: center;
}